<style type="text/css">
.divlist{ float:left;width:600px;}
.divlist ul{ list-style-type:none;width:600px;}
.divlist li{ width:150px; float:left; }
</style>
<div class="divlist">
<nav> 
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Story", story_path %></li> 
		<li><%= link_to "About", about_path %></li> 
		<li><%= link_to "Time", time_path %></li> 
	</ul> 
</nav>
</div>